#login{
    background-color: #0070FF;
}#content{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1548ad;
    background: url(../img/desktop_bg.png),url(../img/desktop_logo.png), linear-gradient(339deg, rgb(52, 68, 168) 0%, rgb(47, 78, 173) 24%, rgb(84, 114, 232) 70%, rgb(163, 209, 255) 100%);
    background-size:100%,initial,initial;
    background-position: center, top left, center;
    background-repeat: no-repeat;
}

#top_bar, #bottom_bar{
    background-color: #00249c;
}
#top_bar div{
    background: linear-gradient(to right, #00249c, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
    background: linear-gradient(to right, #343aae, #002c9c);
}
#bottom_bar div{
    background: linear-gradient(to right, #340399, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
    background: linear-gradient(to right, #002aa9 0% 30%, #0070FF);
}

#readme_block{
    color: #444444;
}

#content{
    background-color: #1b3075;
}

/*CHATBAR*/
#chatbar_cont{
    background-color: #1b3480;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #1351bd, rgba(0,0,0,0) 20% 100%), linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255, 255, 255, 0.05));
}

#chatbar{
    position: absolute;
    top: 3px;
    font-size: 25px;
    width: calc(100% - 132px);
}
#tile{
    background-image: url(/img/tile.png), linear-gradient(to right, #2648ad, 7%, rgba(0,0,0,0) 12% 88%), linear-gradient(to bottom, #2648ad 7%, rgba(0,0,0,0) 12% 88%, #2648ad 93% 100%);
    background-color: #1a3180;
}



#log_cont, .msWindow_cont{
border: 1px solid #103075;
background: linear-gradient(180deg, rgba(0,0,0,0) 28px, rgba(0,0,0,0.25) 31px, rgba(0,0,0,0) 31px), linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(0,0,0,0) 5px), linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1) 31px), linear-gradient(180deg, rgba(0,0,0,0) 0px, rgba(255, 255, 255, 0.05) 31px, rgba(0,0,0,0) 31.2px), linear-gradient(180deg, #184199 0px, #184199 32px, rgba(0,0,0,0) 32px), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0px, rgba(0,0,0,0) 4px), #0037ad;
}
